{{#partial "content"}}
    <div class>
        <h1>HEROES</h1>
    {{#if heros}}
            <div>
                <a href="/addHero">Click here to create a new Hero</a><br>
                <a href="/delete/Hero">
                    <button type="button" class="btn btn-danger m-2">Delete all users</button>
                </a>
            </div>
        <div class="row">
        {{#each heros}}
                <div class="card my-auto m-2 " id="heroCard">
                    <div class="card-body">
                        <h3 style="text-align: center">{{heroName}} </h3>
                        <h6 class="card-subtitle mb-2 text-muted">Power: {{heroPower}}</h6>
                        <p>Weakness: {{heroWeakness}}</p>
                        Age: {{heroAge}}
                        <a href="/delete/Hero/{{id}}">
                            <button type="button" class="btn btn-danger float-right ">Delete</button>
                        </a>
                        {{#if squad.squadName}}
                            <div class="card-footer">
                                <h6 style="text-align: center">SQUAD:-</h6>
                                <p>Name: {{squad.squadName}} </p>
                                <p class="card-subtitle mb-2 text-muted">Cause: {{squad.squadCause}}</p>
                                Active Squad Members: {{squad.activeSquadMembers}}
                            </div>
                        {{else}}
                            <div class="card-footer">
                                <a href="/hero/squad/{{id}}">
                                    <button class="btn btn-warning">
                                        Assign a squad
                                    </button>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                </div>
        {{/each}}
        </div>
    {{else }}
        <div>
            <p style="color: white">No Heroes found</p>
            <a href="/addHero">Click here to create a new Hero</a>
        </div>
    {{/if}}
    </div>
{{/partial}}
{{>layout.hbs}}